#img {
  width: 80px;
}

button {
  color: white;
  background-color: rgb(115, 177, 144);
  border-color: green;
  padding: 5px 100px;
}
a {
  text-decoration: none;
  color: grey;
}

p {
  color: green;
}
#forgot {
  color: rgb(40, 136, 122);
}

h3 {
  color: rgb(40, 136, 122);
}
